{% extends 'base.html' %}
{% block content %}
<style>
  table{
    margin: auto;
    font-size: 20px;
    font-family: sans-serif;
    color: #e62525;
  }
  input, textarea {
    background-color: #ffc0c0;
  }
  .headertext{
    text-align: center;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    color: #ffffff;
    text-align: center;
    padding: 30px 40px;
    border: none;
    background-color: #e62525;
  }
  .button {
        padding: 2px 40px;
        border: none;
        background-color: #e62525;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
    }
</style>
  <div class="login">

    <h1 class="headertext">Create your new task 💪😎</h1>

    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
        <tr>
          <td></td>
          <td><input class="button" type="submit" name="submit" value="Create" /></td>
        </tr>
      </table>
    </form>

    {% if messages %}
    <ul class="msg">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
{% endblock content %}