{% extends 'base.html' %}
{% block content %}

<style>
    table{
        margin: auto;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        color: #e62525;
    }
    .headertext{
        text-align: center;
        font-size: 40px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bolder;
        color: #ffffff;
        text-align: center;
        padding: 30px 40px;
        border: none;
        background-color: #e62525;
    }
    .button {
        padding: 2px 30px;
        border: none;
        background-color: #e62525;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
    }
    .text{
      font-size: 15px;
      font-family: sans-serif;
      font-weight:lighter;
      text-align: center;
      color: #e62525;
    }
</style>
<div class = "login">

    <h1 class="headertext">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="button" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <h1 class="text">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></h1>

</div>

{% endblock content %}