{% extends 'base.html' %}
{% block content %}  

<style>
    table{
        margin: auto;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: lighter;
        color: #000000;
        }
    .button {
        padding: 2px 30px;
        border: none;
        background-color: #e62525;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        }
    .headertext{
        text-align: center;
        font-size: 40px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bolder;
        color: #ffffff;
        text-align: center;
        padding: 30px 40px;
        border: none;
        background-color: #e62525;
    }
</style>

<div class = "login">
    
    <h1 class="headertext">Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="button" type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}