{% extends 'base.html' %}
 {% block content %}
 <style>
    .logout-button{
    top:11%;
    left:47%;
    width:100px;
    height:40px;
    position:center;
    z-index: 2;
    background:#9bb2e0;
    ; 
    }
    .create-button{
    top:11%;
    left:47%;
    width:100px;
    height:40px;
    position:center;
    z-index: 4;
    background:#9bb2e0;
    ; 
    }
    .tabel{
      margin: 0 auto;
      text-align: center;
    }
    .text{
      font-size: 30px;
      font-family: sans-serif;
      font-weight: bold;
      text-align: center;
    }
    .text1{
      font-size: 20px;
      font-family: sans-serif;
      font-weight:lighter;
      text-align: center;
    }
    .text2{
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight:bolder;
      color: #257fe6;
      text-align: center;

    }
    .content-table{
      border-collapse: collapse;
      margin: auto;
      font-family: sans-serif;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      
    }
    .content-table th,
    .content-table td{
      padding: 12px 15px;
    }
    .content-table tbody tr{
      border-bottom: 1px solid #257fe6;
    }
    .content-table tbody tr:last-of-type{
      border-bottom: 2px solid #257fe6;
    }
    .content-table tbody tr.active-row{
      font-weight: bold;
      color: #ffffff;
      background-color: #257fe6;
    }
  </style>

<h1 class="text2">Assignment 4 PBP/PBD </h1>

<h1 class="text">Haii, {{ user.get_username }}</h1>

<table class="content-table">
  <tr class="active-row">
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  {% for todo in list_todo %}
  <tr>
    <td>{{ todo.todo_date }}</td>
    <td>{{ todo.todo_title }}</td>
    <td>{{ todo.todo_description }}</td>
  </tr>
  {% endfor %}
</table>

<h5 class="text1">Sesi terakhir login: {{ last_login }}</h5>
<button class="logout-button"><a href="{% url 'todolist:logout' %}">Keluar</a></p></button>
<button class="create-button"><a href="{% url 'todolist:create' %}">Tambah Kegiatan</a></p></button>
{% endblock content %}