{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 3 PBP/PBD</h1>

  <h3>Name: </h3>
  <p>Hikam Fajduani</p>

  <h3>Student ID: </h3>
  <p>2106634250</p>

  <table>
    <tr>
      <th>Menonton</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for watchlist in watchlist_film %}
      <tr>
          <th>{{watchlist.film_watched}}</th>
          <th>{{watchlist.film_title}}</th>
          <th>{{watchlist.film_rating}}</th>
          <th>{{watchlist.film_release}}</th>
          <th>{{watchlist.film_review}}</th>
      </tr>
    {% endfor %}
  </table>

 {% endblock content %}
