{% extends 'base.html' %}

 {% block content %}
  <style>
    .tabel{
      margin: 0 auto;
      text-align: center;
    }
    .text{
      font-size: 20px;
      font-family: sans-serif;
      font-weight: bold;
      text-align: center;
    }
    .text1{
      font-size: 20px;
      font-family: sans-serif;
      font-weight:lighter;
      text-align: center;
    }
    .text2{
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight:bolder;
      color: #e62525;
      text-align: center;

    }
    .content-table{
      border-collapse: collapse;
      margin: auto;
      font-family: sans-serif;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      
    }
    .content-table th,
    .content-table td{
      padding: 12px 15px;
    }
    .content-table tbody tr{
      border-bottom: 1px solid #e62525;
    }
    .content-table tbody tr:last-of-type{
      border-bottom: 2px solid #e62525;
    }
    .content-table tbody tr.active-row{
      font-weight: bold;
      color: #ffffff;
      background-color: #e62525;
    }
  </style>

  <h1 class="text2">Assignment 3 PBP/PBD </h1>

  <h2 class="text">Name: </h2>
  <p class="text1">Hikam Fajduani</p>

  <h2 class="text">Student ID: </h2>
  <p class="text1">2106634250</p>
  <table class="content-table">
    <tr class="active-row">
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for watchlist in watchlist_film %}
      <tr>
          <th>{{watchlist.film_watched}}</th>
          <th>{{watchlist.film_title}}</th>
          <th>{{watchlist.film_rating}}</th>
          <th>{{watchlist.film_release}}</th>
          <th>{{watchlist.film_review}}</th>
      </tr>
    {% endfor %}
  </table>

  <h2 class="text">Pesan: </h2>
  <p class="text1">{{pesan}}</p>

 {% endblock content %}
